#mac things
.DS_Store

#r things
*Rproj*
*rlib*
*.rds*
*.toc*
*Rhist*
*.Rdata*
.Rproj.user


#folders
#*code/output/glottolog-tree/*
#*code/output/gray_et_al_2009/*
#*code/output/HL_comparison/*

#latex
*tex/*log
*tex/*bbl
*tex/*tex.bak*
*tex/*aux
*tex/*blg
*tex/*.out
*tex/*gz
tex/ASR_Oceanic.toc
tex/ASR_Oceanic.synctex(busy)
tex/ASR_Oceanic.synctex
tex/ASR_Oceanic.dvi
*.bak
code/output/processed_data/used_pkgs.bib
code/output/D_estimate_summary.tsv
code/output/processed_data/used_packages.png
