#mac things
.DS_Store

#r things
*Rproj*
*rlib*
*.rds*
*.toc*
*Rhist*
*.Rdata*
.Rproj.user

#plots
tex/illustrations/plots_from_R/tree_plots/gray_et_al_2009/ML/*.pdf
*png

#folders
code/output/glottolog-tree*
code/output/gray_et_al_2009*
code/output/HL_comparison*

#latex
*tex/*log
*tex/*bbl
*tex/*tex.bak*
*tex/*aux
*tex/*blg
*tex/*.out
*tex/*gz
tex/ASR_Oceanic.toc
tex/ASR_Oceanic.synctex(busy)
tex/ASR_Oceanic.synctex
code/output/processed_data/trees/glottolog_tree_newick_GB_pruned.txt
code/output/processed_data/trees/*txt
code/output
code/Rplot.png
tex/ASR_Oceanic.tex.bak
tex/ASR_Oceanic.dvi
tex/illustrations/plots_from_R/coverage_plots/maps/coverage_map_oceanic.png
tex/illustrations/plots_from_R/coverage_plots/tables/island_groups_table.tex.bak
