#mac things
.DS_Store

#r things
*Rproj*
*rlib*
*.rds*
*.toc*
*Rhist*
*.Rdata*
.Rproj.user

#plots
*.pdf

#folders
code/output/glottolog-tree*
code/output/gray_et_al_2009*
code/output/HL_comparison*

#latex
*tex/*log
*tex/*bbl
*tex/*aux
*tex/*blg
*tex/*.out
*tex/*gz
*tex/ASR_Oceanic.pdf
tex/ASR_Oceanic.toc
tex/ASR_Oceanic.synctex(busy)
